@model KonuYorumCore.DataAccess.Konu

@{
    ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"]</h1>

<h4>Konu</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Edit">
		@Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row mb-3">
                <label asp-for="Baslik" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="Baslik" class="form-control" />
					<span asp-validation-for="Baslik" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
                <label asp-for="Aciklama" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="Aciklama" class="form-control" />
					<span asp-validation-for="Aciklama" class="text-danger"></span>
				</div>
            </div>
            <div class="row mb-3">
				<div class="offset-2 col-5">
					<input type="submit" value="Save" class="btn btn-primary" />
					&nbsp;&nbsp;
                    <button type="reset" class="btn btn-outline-primary">Reset</button>
					&nbsp;&nbsp;
					<a asp-action="Index">Back to List</a>
				</div>
            </div>
        </form>
    </div>
</div>

