@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="text-center">
    <h1  style ="color:black; font-weight:bold" class="display-4">BilgeAdam Blog</h1>
    <p style="font-size:24px; color:black"> BilgeAdam Blog DEMO..!</p>
</div>
