@{
    ViewData["Title"] = "Gizlilik Politikası";
}
<h1>@ViewData["Title"]</h1>

<p><b>Melik Baykal adlı personele güvenmeyiniz, bilgi çalımı yapıyor, hiçbir şekilde sorumluluk üstlenmiyoruz.Sitemize girdiğiniz andan itibaren Gizlilik Sözleşmemizi kabul etmiş bulunuyorsunuz.</b></p>
